@import 'reset';
@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap');

.App {
  @include flex(space-between, space-between);
  flex-direction: column-reverse;
  text-align: center;
  font-family: 'Ropa Sans';

  nav {
    @include flex(space-around, center);
    background-color: $red;
    vertical-align: text-bottom;
    padding: 1rem;
    a {
      text-decoration: none;
    }
    a:last-child {
      color: $white;
    }
  }

  .start-screen {
    .App-header {
      .App-logo {
        margin: 1rem;
      }
      p {
        margin: 2rem;
        font-size: 2rem;
      }
    }
    .buttons {
      @include flex(space-around, center);
      flex-direction: column;
      button {
        margin: 1rem;
        padding: 1rem;
        border-radius: 50px;
        font-family: 'Ropa Sans';
        font-size: 1.6rem;
        background-color: $purple;
        width: 200px;
        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 40vmin;
//   pointer-events: none;
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
