@import 'reset';
@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

body {
  font-family: 'Ropa Sans', sans-serif;
  text-align: center;
}

h1 {
  @include font(3rem, 3.2rem);
}

h2 {
  @include font(2.4rem, 2.6rem);
}

h3 {
  @include font(2rem, 2rem);
}

h4 {
  @include font(1.6rem, 1.8rem);
}

h5 {
  @include font(1.4rem, 1.4rem);
}

h6 {
  @include font(1.2rem, 1.4rem);
}

a {
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: 'Ropa Sans', sans-serif;
  cursor: pointer;
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
}

button {
  padding: 1rem 1.6rem;
  margin: 1rem;
  border-radius: 50px;
  width: 200px;
  border: none;
}

.App {
  @include flex(space-between, center);
  flex-direction: column-reverse;
  font-family: 'Ropa Sans';
  height: 100vh;
  min-height: 100%;
  text-align: center;

  // NAV MOBILE
  nav {
    @include flex(space-around, center);
    background-color: $red;
    vertical-align: text-bottom;
    padding: 1rem;
    font-size: 1.2rem;
    width: 100%;
    a {
      text-decoration: none;
    }
    a:last-child {
      color: $white;
    }
  }
  .content {
    img {
      padding: 1rem;
      max-height: 295px;
      height: auto;
    }
    // START SCREEN MOBILE
    .start-screen {
      .start-content {
        text-align: center;
        .App-logo {
          margin: 1rem 2rem;
        }
        h2 {
          margin: 3rem 6rem;
        }
      }
      .buttons {
        @include flex(space-around, center);
        flex-direction: column;
        button {
          background-color: $red;
          a {
            color: $white;
            text-decoration: none;
          }
        }
        button:last-child {
          background-color: $purple;
        }
      }
    }

    // PLAY SCREEN MOBILE
    .play-screen {
      h3 {
        line-height: 2.4rem;
        text-transform: uppercase;
        margin: .3rem;
      }
      h4 {
        margin: .3rem;
      }
      .container {
        margin: 1.6rem 0;
      }
    }

    // END SCREEN MOBILE
    .end-screen {
      .end-content {
        h2 {
          margin: 0rem 2rem;
        }
        h3 {
          margin: 3rem 2rem;
          background-color: $lavender;
          padding: 1rem;
        }
        h4 {
          padding: 0.3rem;
        }
        form {
          @include flex(center, center);
          flex-direction: column;
          label {
            @include flex(center, flex-start);
            flex-direction: column;
            padding: 1rem 0;
            font-size: 1.2rem;
            line-height: 1.6rem;
            text-transform: uppercase;

            input {
              padding: 0.6rem;
              border: 1px solid $grey;
              border-radius: 6px;
            }
          }
          button {
            background-color: $red;
            margin-bottom: 2rem;
            a {
              color: $white;
              text-decoration: none;
            }
          }
        }
      }
      button {
        background-color: $purple;
        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

// @media (min-width: $standard) {

// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 40vmin;
//   pointer-events: none;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
