@import 'reset';
@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Ropa+Sans&display=swap');
* {
  box-sizing: border-box;
}

* {
outline: none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
border: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Ropa Sans', sans-serif;
  text-align: center;
}

h1 {
  @include font(3rem, 3.2rem);
}

h2 {
  @include font(2.4rem, 2.6rem);
}

h3 {
  @include font(2rem, 2rem);
}

h4 {
  @include font(1.8rem, 1.8rem);
}

h5 {
  @include font(1.4rem, 1.4rem);
}

h6 {
  @include font(1.2rem, 1.4rem);
}

a {
  font-size: 1.4rem;
  font-family: 'Ropa Sans', sans-serif;
  cursor: pointer;
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
}

button {
  padding: 1rem 1.6rem;
  margin: 1rem;
  border-radius: 50px;
  width: 200px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

// button:focus {
// animation-name: bounce;
// }

button:hover {
  box-shadow: 0 0 3px 3px $purple-opacity;
}

.App {
  @include flex(space-between, center);
  flex-direction: column-reverse;
  height: 100vh;
  min-height: 100%;
  text-align: center;
  font-family: 'Ropa Sans';

  // NAV MOBILE
  nav {
    @include flex(space-around, center);
    background-color: $red;
    vertical-align: text-bottom;
    padding: 1rem;
    width: 100%;
    a {
      font-size: 1.6rem;
      color: $white;
      text-decoration: none;
    }
  }
  .content {
    // LOGO
    .App-logo {
      margin: 1rem;
      height: 20vh;
      max-height: 100%;
    }
    // START SCREEN MOBILE
    .start-screen {
      .start-content {
        @include flex(center, center);
        flex-direction: column;
        h2 {
          max-width: 70%;
          margin: 3rem;
        }
        h3 {
          max-width: 50%;
          margin: 2rem;
        }
      }
      .buttons {
        @include flex(space-around, center);
        flex-direction: column;
        a {
          button {
            background-color: $purple;
            color: $white;
            text-decoration: none;
          }
        }
        a:last-child {
          button {
            background-color: $red;
          }
        }
      }
    }
    // PLAY SCREEN MOBILE
    .play-screen {
      .play-content {
        .score-status {
          @include flex(center, space-around);
          h3 {
            font-size: 1.6rem;
            line-height: 1rem;
            text-transform: uppercase;
            margin: 0 2rem;
          }
        }
        .container {
          margin: 1.6rem 0;
        }
        .celeb-card {
          // padding-bottom: 1rem;
          img {
            margin: 0rem;
            height: 40vh;
            max-height: 295px;
            overflow: hidden;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
          }
          h3 {
            margin: 1.2rem 0;
          }
          h4 {
            margin: 0rem;
          }
        }
        button {
          background-color: $purple;
          color: $white;
          text-transform: uppercase;
          text-decoration: none;
          width: 100px;
        }
        .wrong {
          -webkit-animation: shake-horizontal 0.8s
            cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: shake-horizontal 0.8s
            cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }
        button:hover {
          box-shadow: inset 0 0 3px 3px $purple;
          background-color: $purple-opacity;
          color: $purple;
        }
      }
    }
    // END SCREEN MOBILE
    .end-screen {
      .end-content {
        @include flex(center, center);
        flex-direction: column;
        h2 {
          margin: 0rem 2rem;
        }
        h3 {
          margin: 3rem 2rem;
          background-color: $lavender;
          padding: 1rem;
          width: 150px;
        }
        h4 {
          padding: 0.3rem;
        }
        form {
          @include flex(center, center);
          flex-direction: column;
          label {
            @include flex(center, center);
            flex-direction: column;
            padding: 1rem 0;
            font-size: 1.4rem;
            color: rgba($black, 0.6);
            line-height: 1.6rem;
            text-transform: uppercase;
            input {
              padding: 0.6rem;
              border: 1px solid $grey;
              border-radius: 6px;
            }
          }
          button {
            background-color: $red;
            margin-bottom: 2rem;
            color: $white;
            text-decoration: none;
          }
        }
      }
      button {
        background-color: $purple;
        color: $white;
        text-decoration: none;
      }
    }
    // HALL OF FAME LEADERBOARD MOBILE
    .leaderboard-screen {
      h1 {
        font-family: 'Bowlby One', sans-serif;
        padding: 1rem;
        color: $red;
      }
      .grid-titles {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        h2 {
          font-size: 2rem;
          padding: 0.6rem 0;
          border-bottom: 1px solid $grey;
        }
      }
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        .grid-column {
          h3 {
            padding: 0.4rem 0;
          }
          h3:nth-child(even) {
            background-color: $red-opacity;
          }
        }
      }
      h4 {
        padding: 2rem 0 0.4rem 0;
      }
      button {
        background-color: $red;
        color: $white;
        text-decoration: none;
      }
    }
    // USER SCORES MOBILE
    .userscores-screen {
      .userscores-content {
        h1 {
          font-family: 'Bowlby One', sans-serif;
          padding: 1rem;
          color: $red;
        }
        .grid-titles {
          display: grid;
          grid-template-columns: 1fr 3fr 1fr;
          h2 {
            padding: 1.6rem 0;
            border-bottom: 1px solid $grey;
            margin-bottom: 1rem;
          }
        }
        .grid-container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          .rank-column {
            h3 {
              padding: 0.8rem 0;
            }
            h3:nth-child(even) {
              background-color: $lavender;
            }
          }
          .score-column {
            h3 {
              padding: 0.8rem 0;
            }
            h3:nth-child(even) {
              background-color: $lavender;
            }
          }
          .date-column {
            h3 {
              padding: 0.8rem 0;
            }
            h3:nth-child(even) {
              background-color: $lavender;
            }
          }
        }
        h4 {
          padding: 2rem;
        }
        button {
          background-color: $purple;
          color: $white;
          text-decoration: none;
        }
      }
    }
    // LOGIN MOBILE
    .login-screen {
      @include flex(center, center);
      flex-direction: column;
      form {
        @include flex(center, center);
        flex-direction: column;
        label {
          @include flex(center, center);
          flex-direction: column;
          padding: 1rem 0;
          font-size: 1.4rem;
          color: rgba($black, 0.6);
          line-height: 1.6rem;
          text-transform: uppercase;
          input {
            padding: 0.6rem;
            border: 1px solid $grey;
            border-radius: 6px;
          }
        }
        .buttons {
          @include flex(center, center);
          flex-direction: column;
          a {
            button {
              background-color: $red;
              margin-bottom: 2rem;
              color: $white;
              text-decoration: none;
            }
          }
          a:last-child {
            button {
              background-color: $purple;
              color: $white;
              text-decoration: none;
            }
          }
        }
      }
    }
    // SIGN UP MOBILE
    .signup-screen {
      @include flex(center, center);
      flex-direction: column;
      form {
        @include flex(center, center);
        flex-direction: column;
        label {
          @include flex(center, center);
          flex-direction: column;
          padding: 1rem 0;
          font-size: 1.4rem;
          color: rgba($black, 0.6);
          line-height: 1.6rem;
          text-transform: uppercase;
          input {
            padding: 0.6rem;
            border: 1px solid $grey;
            border-radius: 6px;
          }
        }
        button {
          background-color: $red;
          margin-bottom: 2rem;
          color: $white;
          text-decoration: none;
        }
      }
    }
    // ERROR 404
    .error-404 {
      margin: 3rem;
    }
  }
}

@media (min-width: $desktop) {
  .App {
    @include flex(flex-start, center);
    flex-direction: column;
    // NAV DESKTOP
    nav {
      padding: 1.4rem;
      font-size: 2rem;
    }
    .content {
      .App-logo {
        margin: 2rem;
      }
      // START SCREEN DESKTOP
      .start-screen {
        .button {
          button {
            a {
              font-size: 1.8rem;
              line-height: 2.4rem;
            }
          }
        }
      }
      // PLAY SCREEN DESKTOP
      .play-screen {
        .play-content {
          .score-status {
            h3 {
              font-size: 1.8rem;
            }
          }
          button {
            font-size: 1.8rem;
            line-height: 2.4rem;
          }
        }
      }
      // END SCREEN DESKTOP
      .end-screen {
        .end-content {
          h3 {
            font-size: 2.2rem;
            margin: 3rem 2rem;
          }
          h4 {
            font-size: 2rem;
            padding: 0.5rem;
          }
          form {
            label {
              font-size: 1.6rem;
              line-height: 1.8rem;
              input {
                padding: 0.8rem;
                font-size: 1.4rem;
              }
            }
            .button {
              button {
                a {
                  font-size: 1.8rem;
                  line-height: 2.4rem;
                }
              }
            }
          }
        }
        .button {
          button {
            a {
              font-size: 1.8rem;
              line-height: 2.4rem;
            }
          }
        }
      }
      // HALL OF FAME LEADERBOARD MOBILE
      .leaderboard-screen {
        .grid-titles {
          h2 {
            font-size: 2.2rem;
            padding: 1rem 0;
          }
        }
        .grid-container {
          .grid-column {
            h3 {
              padding: 0.6rem 0;
            }
          }
        }
        h4 {
          padding: 2.4rem 0 1.4rem 0;
        }
      }
    }
  }
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
