$red: #EE1C42;
$red-opacity: rgba(238, 28, 66, .2);
$purple: #320073;
$purple-opacity: rgba(50, 0, 115, .2);
$pink: #FCD2D9;
$lavender: #E0E3FD;
$grey-light: #E5E5E5;
$grey: #A9A9A9;
$white: #ffffff;

$mobile: 500px;
$tablet: 768px;
$desktop: 1000px;
